.todos-wrapper {
    background-color: rgb(31, 128, 99, 0.1);
    padding: 0;
}

.todos-wrapper li {
    list-style-type: none;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}